<h1>{{list.title}}</h1>

<ul id="todo-list" class="sortable list-unstyled">
</ul>

<ul class="list-unstyled">
	<li><span class="glyphicon icon-plus icon-new-todo"></span><a href="#/{{list.id}}/todos/new">New Todo</a></li>
	<li><span class="glyphicon icon-arrow-left"></span><a href="#/">Back</a></li>
</ul>