<div class="page-header">
	<h1>Listing lists</h1>
</div>

<ul id="lists" class="list-unstyled">
</ul>

<span class="glyphicon icon-plus icon-new-todo"></span><a id="btn-new-list" href="#/new">New List</a>